.form {
  padding: 2rem 10%;
  width: 50%;
}
.form label,
.form input {
  display: block;
}
.form label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.form input,
.form select {
  margin-top: 1rem;
  padding: 0.75rem;
  width: 100%;
  font-size: 1rem;
  border: 2px solid rgb(130, 123, 123);
  border-radius: 5px;
}
.form input:focus,
.form select:focus {
  outline: 1px solid var(--primary);
  border: 2px solid var(--primary);
}
.form .animate {
  animation: shake 0.3s;
}
.form button {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--button);
  color: var(--button-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.form button:hover {
  background-color: rgb(32, 30, 30);
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

@media (max-width: 850px) {
  .form {
    width: 100%;
  }
}
