.hero {
  height: 30vh;
  background-color: aliceblue;
  padding: 0 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .heading {
  color: var(--heading);
}
.hero .description {
  color: var(--description);
}
