.hero {
  padding: 5vh 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .heading {
  color: var(--heading);
}
.hero .description {
  color: var(--description);
}
