@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins";
  background-color: rgb(242, 242, 246);
}
:root {
  --heading: rgb(68, 71, 72);
  --description: rgb(116, 118, 120);
  --primary: rgb(219, 151, 26);
  --button: rgb(56, 54, 54);
  --button-color: rgb(231, 232, 232);
}
